.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.freezed.dart
*.g.dart
.pub-cache/
.tools/
build/
coverage/
*.iml
.idea/
.vscode/
.DS_Store
.env
.env.*
!.env.example
*.keystore
*.jks
android/key.properties
supabase/.temp/
.hoplite/*
!.hoplite/settings.json
*.log
