.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
coverage/
**/*.freezed.dart
**/*.g.dart
.hoplite/cache/
.hoplite/logs/
.hoplite/runtime/
.hoplite/artifacts/
android/local.properties
android/key.properties
android/app/*.keystore
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
.DS_Store
.env
.env.*
!.env.example
